.page {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #2A2C2F;
    color: #fff;
    min-width: 320px;
}
