.gallery {
    display: grid;
    gap: 12px;
}

@media screen and (min-width: 321px) {
    .gallery {
        grid-template-columns: repeat(2, calc(100% / 2 - 12px));
        gap: 19px;
    }
}
@media screen and (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, calc(100% / 3 - 12px));
    }
}
@media screen and (min-width: 1280px) {
    .gallery {
        grid-template-columns: repeat(4, calc(100% / 4 - 12px));
    }
}
