.places__title {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.188rem;
    margin-top: 0;
    margin-bottom: 0;

    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (min-width: 550px){
    .places__title {
        font-size: 42px;
        line-height: 46px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 1024px) {
    .places__title {
        font-size: 4.5rem;
        line-height: 4.75rem;
    }
}
