.lead__title {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.75rem;
    text-align: center;
    max-width: 720px;
    margin-top: 0;
    margin-right: 1rem;
    margin-bottom: 0;
    margin-left: 1rem;
}

@media screen and (min-width: 767px) {
    .lead__title {
        font-size: 6rem;
        line-height: 6.25rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px) {
    .lead__title {
        margin-left: auto;
        margin-right: auto;
    }
}
