.lead__title {
    font-family: 'Inter-Black', sans-serif;
    font-size: 2.5rem;
    line-height: 2.75rem;
    text-align: center;
    max-width: 720px;
    margin: auto;
}
@media screen and (min-width: 767px){
    .lead__title {
        font-size: 6rem;
        line-height: 6.25rem;
    }
}
