.footer__copyright {
    font-size: 0.875rem;
    line-height: 1rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
}

@media screen and (min-width:744px) {

    .footer__copyright {
        width: auto;
        margin: 0;
    }
}
