.places__url-title {
    margin-top: auto;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: #AAAAAA;
    text-transform: uppercase;
    margin-bottom: 19px;
    letter-spacing: 2px;
}
@media screen and (min-width: 1280px) {
    .places__url-title {
        margin-bottom: 10px;
    }

}
