.lead__caption {
    font-size: 0.625rem;
    text-transform: uppercase;
    margin: 8px 0 0 1rem;
    letter-spacing: 1.5px;
}

@media screen and (min-width: 321px) {
    .lead__caption {
        margin: 8px 0 0 1.5rem;
    }
}

@media screen and (min-width: 769px) {
    .lead__caption {
        margin: 8px 0 0 0;
    }
}
