.cover__title {
    font-family: 'Inter-Black', sans-serif;
    line-height: 2rem;
    font-size: 2.188rem;
    max-width: 560px;
    margin: 0 auto 2rem auto;
    text-align: center;
    color: #ffffff;
    z-index: 1;
}

@media screen and (min-width:767px) {
    .cover__title {
        line-height: 4.75rem;
        font-size: 4.5rem;
    }
}
