.footer {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 744px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
