.footer {
    padding-left: 1rem;
    padding-right: 1rem;;
}

@media screen and (min-width: 768px) {
    .content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;;
    }
}
@media screen and (min-width: 1024px) {
    .content {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
