.page__footer {
    margin-top: 3rem;
    margin-bottom: 20px;
}
@media screen and (min-width: 321px){
    .page__footer {
        margin-top: 4.75rem;
    }
}
@media screen and (min-width: 768px){
    .page__footer {
        margin-top: 86px;
    }
}
@media screen and (min-width: 1024px){
    .page__footer {
        margin-top: 6rem;
    }
}
