.places__item {
    display: grid;
    row-gap: 1.7rem;
}

@media screen and (min-width: 321px) {
    .places__item {
        row-gap: 2rem;
        row-gap: 3rem;
    }
}

@media screen and (min-width: 550px) {
    .places__item {
        column-gap: 2rem;
        grid-template-columns: minmax(240px, 340px) auto;
        margin-bottom: 45px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
@media screen and (min-width: 768px) {
    .places__item {
        grid-template-columns: 340px auto;
    }
}

@media screen and (min-width: 1024px) {
    .places__item {
        column-gap: 2.5rem;
        grid-template-columns: minmax(auto, 432px) auto;
        margin-bottom: 4rem;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 1280px) {
    .places__item {
        grid-template-columns: minmax(auto, 460px) auto;
        margin-bottom: 80px;
    }
}
